{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Home</h2>
  <p class="lead">Welcome to the Lockheed Martin Senior Design project homepage.</p>

  <div class="row mt-4">
    <div class="col-md-12">
      <p>This project is a collaborative effort between <strong>University of Connecticut (UConn) students</strong> and <strong>Lockheed Martin</strong>, aimed at harnessing the power of data science and machine learning to drive innovation in server management and operational efficiency.</p>
      <p>Our team, comprising of very talented senior students from UConn, has been tasked with developing a suite of tools designed to analyze historical server load data provided by Lockheed Martin. The objective is to <strong>predict future server loads at specific times</strong>, enabling optimized server operation schedules. This predictive capability is crucial for reducing unnecessary server uptime, thereby <strong>saving on operational costs</strong> and enhancing system efficiency.</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">
      <h4>Predictive Models</h4>
      <p>Utilizing various machine learning algorithms, we create models capable of forecasting server demands. This paves the way for proactive server management strategies.</p>
    </div>
    <div class="col-md-4">
      <h4>Clustering Algorithms</h4>
      <p>Our approach includes the development of clustering algorithms to identify patterns and categorize data from Lockheed Martin's servers. This aids in uncovering insights that may otherwise go unnoticed.</p>
    </div>
    <div class="col-md-4">
      <h4>AWS EC2 Demonstration</h4>
      <p>Another component of our project is the live demonstration on AWS EC2 servers, showcasing the practical application and effectiveness of our developed tools in a real-world setting.</p>
    </div>
  </div>
</div>
{% endblock %}
